<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Trust the Force, young Padawan</h1>

    <a href="/all"><h2>All Characters</h2></a>
    <a href="/starTrek"><h2>Star Trek</h2></a>
    <a href="/starWars"><h2>Star Wars</h2></a>

  </body>
</html>
