<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>

    <img src="/img/trek.png" alt="">


    <ul>
      {{#characters}}
      <li>
        {{name}}
      </li>
      {{/characters}}
    </ul>

    <a href="/">HOME</a>

  </body>
</html>
